

<!--
<app-calc></app-calc>
<app-array></app-array>
<app-address></app-address>
<app-employee-list></app-employee-list>


<app-employee-list [data]="employees"></app-employee-list>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
-->

<div class="navbar">
    <a routerLink="/dashboard">Dashboard</a> &nbsp;&nbsp;&nbsp;
    <a routerLink="/post">Posts</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/products">Products</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/category">Categories</a>&nbsp;&nbsp;&nbsp;
    <a routerLink="/employee">Employees</a>&nbsp;&nbsp;&nbsp;
    <hr>
</div>
<div>
    <router-outlet></router-outlet>
</div>